@model SV.Application.InputModels.Usuarios.UsuarioInputModel

@{
    ViewData["Title"] =  Model.NomeDeUtilizador;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Editar úsuario: @Model.NomeDeUtilizador</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Painel" asp-controller="Home" asp-action="Index">Ínicio</a></li>
                    <li class="breadcrumb-item active">@Model.NomeDeUtilizador</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <form asp-action="Edit">
                        @await Component.InvokeAsync(typeof(SV.UI.Admin.Dashboard.Extensions.SummaryViewComponent))

                        <input type="hidden" asp-for="@Model.Id" />

                        <div class="card-body">
                            <div class="form-group row">
                                <label asp-for="@Model.NomeDeUtilizador" class="col-sm-2 col-form-label text-right">Nome:</label>
                                <div class="col-sm-6">
                                    <input asp-for="@Model.NomeDeUtilizador" class="form-control" placeholder="....">
                                    <span class="text-danger" asp-validation-for="@Model.NomeDeUtilizador"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="@Model.Email" class="col-sm-2 col-form-label text-right">Email:</label>
                                <div class="col-sm-6">
                                    <input asp-for="@Model.Email" class="form-control" placeholder="....">
                                    <span class="text-danger" asp-validation-for="@Model.Email"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="@Model.Telefone" class="col-sm-2 col-form-label text-right">Telefone:</label>
                                <div class="col-sm-6">
                                    <input asp-for="@Model.Telefone" class="form-control" placeholder="....">
                                    <span class="text-danger" asp-validation-for="@Model.Telefone"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="@Model.Perfil" class="col-sm-2 col-form-label text-right">Perfil:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" asp-for="@Model.Perfil">
                                        <option selected disabled>--Seleccione o perfil--</option>
                                        <option value="Operador">Operador</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="@Model.Perfil"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-6">
                                    <input asp-for="@Model.AlterarSenha" id="ckAlterarSenha">
                                    <label asp-for="@Model.AlterarSenha" class="">Alterar senha?</label>
                                </div>
                            </div>
                                <div class="form-group row">
                                <label asp-for="@Model.Senha" class="col-sm-2 col-form-label text-right">Senha antiga:</label>
                                <div class="col-sm-6">
                                    <input type="password" asp-for="@Model.SenhaAntiga" id="senhaAntigaInput" class="form-control" disabled="true">
                                    <span class="text-danger" asp-validation-for="@Model.SenhaAntiga"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="@Model.Senha" class="col-sm-2 col-form-label text-right">Nova senha:</label>
                                <div class="col-sm-6">
                                    <input type="password" asp-for="@Model.Senha" id="senhaInput" class="form-control" disabled="true">
                                    <span class="text-danger" asp-validation-for="@Model.Senha"></span>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label asp-for="@Model.Perfil" class="col-sm-2 col-form-label text-right">Confirmar nova senha:</label>
                                <div class="col-sm-6">
                                    <input type="password" asp-for="@Model.ConfirmarSenha" id="confirmarSenhaInput" class="form-control" disabled="true">
                                    <span class="text-danger" asp-validation-for="@Model.ConfirmarSenha"></span>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="col-10 text-center">
                                <input type="submit" class="btn btn-info" value="Atualizar">
                                <a asp-action="Index" class="btn btn-default">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    
    <script type="text/javascript">

        function verificarEstadoDosCamposSenha()
        {
             var ckAlterarSenha = document.getElementById('ckAlterarSenha');

            if(ckAlterarSenha.checked) {
                    senhaInput.disabled = '';
                    confirmarSenhaInput.disabled = '';
                    senhaAntigaInput.disabled = '' ;
                } else {
                    senhaInput.disabled = 'false';
                    confirmarSenhaInput.disabled = 'false';
                    senhaAntigaInput.disabled = 'false';
                }
        }

        (function() {
            var ckAlterarSenha = document.getElementById('ckAlterarSenha');
            var senhaInput = document.getElementById('senhaInput');
            var confirmarSenhaInput = document.getElementById('confirmarSenhaInput');
            var senhaAntigaInput = document.getElementById('senhaAntigaInput');
            
            verificarEstadoDosCamposSenha();

            ckAlterarSenha.addEventListener('click', function(){
                if(this.checked) {
                    senhaInput.disabled = '';
                    confirmarSenhaInput.disabled = '';
                    senhaAntigaInput.disabled = '' ;
                } else {
                    senhaInput.disabled = 'false';
                    confirmarSenhaInput.disabled = 'false';
                    senhaAntigaInput.disabled = 'false';
                }
            });
        })(); 
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}