@model SV.UI.Admin.Dashboard.ViewModels.Aeronaves.AssentoViewModel

<div class="card-body">
    <div class="form-group row">
        <label asp-for="@Model.AssentoModel.Numero" class="col-sm-2 col-form-label text-right">Nº do Assento:</label>
        <div class="col-sm-6">
            <input asp-for="@Model.AssentoModel.Numero" class="form-control" placeholder="....">
            <span class="text-danger" asp-validation-for="@Model.AssentoModel.Numero"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.AssentoModel.ClasseId" class="col-sm-2 col-form-label text-right">Classe:</label>
        <div class="col-sm-6">
            <select class="form-control" asp-for="@Model.AssentoModel.ClasseId" asp-items="@(new SelectList(Model.Classes, "Id", "Descricao"))">
                <option disabled selected>--Selecione uma Classe--</option>
            </select>
            <span class="text-danger" asp-validation-for="@Model.AssentoModel.ClasseId"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.AssentoModel.AeronaveId" class="col-sm-2 col-form-label text-right">Aeronave:</label>
        <div class="col-sm-6">
            <select class="form-control" asp-for="@Model.AssentoModel.AeronaveId" asp-items="@(new SelectList(Model.Aeronaves, "Id", "Modelo"))">
                <option disabled selected>--Selecione uma Aeronave--</option>
            </select>
            <span class="text-danger" asp-validation-for="@Model.AssentoModel.AeronaveId"></span>
        </div>
    </div>
</div>