@using SV.Application.Interfaces.Common
@using SV.UI.Services
@inject ICurrentUserService CurrentUser

<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - OnAirlines</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/adminLte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->

    <!-- daterange picker -->
    <link rel="stylesheet" href="~/adminLte/plugins/daterangepicker/daterangepicker.css">

    <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="~/adminLte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <link rel="stylesheet" href="~/adminLte/dist/css/adminlte.min.css">

    <link rel="stylesheet" href="~/adminLte/plugins/toastr/toastr.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-area="Dashboard" asp-controller="Usuarios" asp-action="Index" class="nav-link">Úsuarios</a>
                </li>
            </ul>


            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Dashboard" asp-controller="Login" asp-action="Logout"  class="nav-link text-danger">
                        <i class="fa fa-sign-out-alt"></i>
                        <span>Sair</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/adminLte/dist/img/default-150x150.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">OnAirLines</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    @*<div class="image">
                        <img src="~/adminLte/dist/img/default-150x150.png" class="img-circle elevation-2" alt="User Image">
                    </div>*@
                    <div class="info">
                        <a asp-area="Dashboard" asp-controller="Perfil" asp-action="Index" asp-route-id="@CurrentUser.UserId" class="d-block">@CurrentUser.Nome</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>Painel</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-plane-arrival"></i>
                                <p>
                                    Aeroportos
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="Dashboard" asp-controller="Cidades" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Cidades</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Dashboard" asp-controller="Aeroportos" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Aeroportos</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-plane"></i>
                                <p>
                                    Aeronaves
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="Dashboard" asp-controller="Classes" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Classes</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Dashboard" asp-controller="Aeronaves" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Aeronaves</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-passport"></i>
                                <p>
                                    Voos
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="Dashboard" asp-controller="TiposDeVoo" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tipos de Voos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Dashboard" asp-controller="Voos" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Voos</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href ="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Funcionários
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="Dashboard" asp-controller="CategoriasFuncionario" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Funções</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Dashboard" asp-controller="Funcionarios" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Funcionários</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Dashboard" asp-controller="ReservaAdmin" asp-action="Index"  class="nav-link">
                                <i class="nav-icon fas fa-shopping-cart"></i>
                                <p>Reservas</p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-icon fas fa-person-booth"></i>
                                <p>Clientes</p>
                            </a>
                        </li>*@
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            @RenderBody()

        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2022 OnAirLines.</strong> Todos Direitos Reservados.
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/adminLte/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminLte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/adminLte/plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE App -->
   
     <!-- Input Mask -->
    <script src="~/adminLte/plugins/moment/moment.min.js"></script>
    <script src="~/adminLte/plugins/inputmask/jquery.inputmask.min.js"></script>

     <!-- date-range-picker -->
    <script src="~/adminLte/plugins/daterangepicker/daterangepicker.js"></script>

    <script src="~/adminLte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="~/adminLte/dist/js/adminlte.min.js"></script>

    @if (TempData["success"] != null)
    {
        <script>
            toastr.success('@TempData["success"]');
        </script>
    }

    
    @if (TempData["warning"] != null)
    {
        <script>
            toastr.warning('@TempData["warning"]');
        </script>
    }

    <script src="~/js/site.js"></script>
    
    <script type="text/javascript">

       window.onload = function () {
           
            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            });

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()
         }

    </script>


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>